{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended",
    "plugin:import/errors"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true,
      "jsx": true
    }
  },
  "plugins": [
    "react-native",
    "flowtype",
    "jsx-a11y",
    "import"
  ],
  "env": {
    "es6": true,
    "jest": true
  },
  "rules": {
    "strict": [0, "global"],
    "max-len": [0, 0, 0],
    "func-names": [2, "never"],
    "global-require": 0,
    "func-style": [2, "expression", { "allowArrowFunctions": true }],
    "import/order": [2,
      {
        "groups": [["builtin", "external"], ["sibling", "parent", "internal", "index"]],
        "newlines-between": "always-and-inside-groups"
      },
    ],
    "import/prefer-default-export": 0,

    "jsx-a11y/href-no-hash": 0,
    "jsx-a11y/anchor-is-valid": [1, { "aspects": ["invalidHref"] }],
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "react/prefer-stateless-function": [0, { "ignorePureComponents": true }],
    "react/prop-types" : 0,

    "flowtype/delimiter-dangle": [2, "always-multiline"],
    "flowtype/require-return-type": 2,
    "flowtype/require-parameter-type": 2,
    "flowtype/require-valid-file-annotation": [2, "always", {
       "annotationStyle": "none"
    }],
    "flowtype/sort-keys": [
      2,
      "asc", {
        "caseSensitive": true,
        "natural": false
      }
    ]
  },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    },
    "import/resolver": {
      "babel-module": {},
      "node": {
        "extensions": [
          ".js",
          ".android.js",
          ".ios.js"
        ]
      }
    }
  },
  "globals": {
    "it": false,
    "fetch": false,
    "__DEV__": false
  }
}
